absl-py
annotated-types
anyio
astunparse
audioread
certifi
cffi
charset-normalizer
colorama
contourpy
cycler
decorator
distro
exceptiongroup
ffmpeg
flatbuffers
fonttools
future
gast
google-pasta
grpcio
h11
h5py
httpcore
httpx
idna
iso8601
jiter
joblib
keras
kiwisolver
lazy_loader
libclang
librosa
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
msgpack
namex
numba
numpy
openai
opt_einsum
optree
packaging
pillow
platformdirs
pooch
protobuf
pycparser
pydantic
pydantic_core
pydub
Pygments
pyparsing
pyserial
pytesseract
python-dateutil
python-multipart
PyYAML
requests
rich
scikit-learn
scipy
six
sniffio
soundfile
soxr
spectral
SpeechRecognition
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
tqdm
typing-inspection
typing_extensions
urllib3
Werkzeug
wrapt
fastapi
uvicorn
xgboost
